/* navbar */
.brandlogo{
    /* width: 20px;  */
    /* margin-left: 50px; */
    background-color: #0B42FF;
    border-radius: 50%;
    /* padding: 6px 14px 6px 14px; */
    /* margin-top: -10px; */
    z-index: 99;
    align-self: center;
    
}
.brand{
    /* display: flex;
    flex-direction: row; */
    /* margin-left: 20px; */
    align-self: center;
    padding: 0 0 0 12px;
    font-size: 20px;
    z-index: 99;
}
.button{
    color: #ffffff;
    padding: 15  15 15 15;
    align-self: center;
    background-color: rgb(0, 0, 0);
    border:none;
    font-weight: bolder;
    /* margin-top: -8px; */
    
}
.topnav{
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
 
    /* grid-column-gap: 50px 200px; */
    padding-top: 30px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    z-index: 99;
    flex-wrap: wrap;
}
.topnavlast{
     display: flex;
     /* grid-template-columns: auto; */
     flex-direction: row;
     /* grid-column-gap: 10px; */
     /* padding-left: 800px; */
     /* padding-top: 3px; */
     z-index:99;
     /* margin-right: 170px; */
}
.underline:hover {
    border-bottom: 7px solid #FEDD00;
    transition: ease-in-out 0.1s;
}
.underline{
    cursor: pointer;
    padding-right: 20px;
    align-self: center;
}

.all
{
    margin-top: -650px;
}
/* backgroundlines */
.back{
    display: grid;
    grid:100px / auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 720px ;
    background-color: #D7D7D7;
    grid-column-gap: 3px;
    margin-top: -75px; 
    opacity: 20%;    
    
}

.back > div {
 background-color: #fff;
}

/* backgrounddots */
.background{
    display: flex;
    flex-direction: column;
}


.background .dot {
    padding: 11em 7.2em;
    background-image: -webkit-repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center,#dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 20px 20px;
    width:27%;
    /* margin-top: 90px; */
    /* margin-left:-15px; */
    align-self: flex-start;
    /* padding: 90px 0 0 -15px; */
    background-color: transparent;
    z-index: -1;
    opacity: 50%;
  }
.wrapp{
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
}
 .x{
    /* padding-top: 100px; */
    align-self: center;
    padding-left: 50px;
    z-index: 1;

 }
  .player{
    width: 35px;   
    /* margin-left: 680px; */
    /* margin-top: -500px; */
    border-radius: 50%;
    padding: 5px;
    border: #FEDD00 2px solid;
    z-index:1;
}

/* left*/
.main{
    font-size: 93px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index:1;
}

.content{
     color: rgb(0, 0, 0);
     width: 450px;
     display: grid;
     grid-template-rows: auto;
     grid-row-gap: 58px;
     /* margin-left: 15px; */
     /* margin-top: -425px; */
     margin-top: -400px;
     z-index: 1;
}

.message{
    font-size: 18px;
    font-weight: bold;
    margin-top:-20px;
    z-index: 1;
}

.sociallogin{
    display: grid;
    grid-template-columns: repeat(2,25px);
    grid-column-gap: 40px;
    margin-top: 16px;
    margin-left: 50px;
    z-index: 1;
}

.logins{
    width: 35px;
    border-radius: 50%;
    /* padding: 10px; */
    background-color: white;
    z-index: 1;
}

/* right */

.container{
    background-color: #EEEEEE;
    width: 346px;
    height: 488px;
    display: flex;
    flex-direction: column;
    /* margin-left: 250px; */
    margin-top: 28px;
    display: grid;
    /* flex-direction: row; */
    z-index: 1;
}
.bg {
    height: 220px;
    width: 300px;
    /* clip-path: polygon(0 0, 30% 0, 30% 30%, 0% 30%);
    background: #FEDD00; */
    z-index: 1;

}

.heading{
    color: #000000;
    font-size: 30px;
   margin-left: 32px;
   margin-top: -180px; 
   background-color: transparent;
   font-weight: bolder;
   z-index: 1;
}

.passage{
    display: grid;
    grid-template-rows: 70px 100px;
    grid-row-gap: 30px;
    color: rgb(0, 0, 0);
    width: 310px;
    padding:10 0 0 0;
    margin-top: -110px;
    background-color: transparent;
    font-size: 12px;
    margin-left: 32px;
    font-weight: 600;
    z-index: 1;
}


.blockquotes{
    background-color:transparent;
    font-weight: 800;
    color: #0B42FF;
    margin-top: 2px;
    font-size: 17px;
}

/* bottom right corner */

.navigators{
    margin-left: -150px;
    display: flex;
    flex-direction: row;
    margin-top: 58px;
}

.work{
   padding: 20px; 
   color: white;
   background-color:  #0B42FF;
   border: none;
   margin: 0;
   font-weight: 600;
   width: 150px;
   height: 70px;
   text-align: center;
   align-items: center;
   cursor: pointer;
   z-index: 1;
}
.tests{
    padding: 10px; 
    background-color: #232935;
    color: white;
    border: none;
    margin: 0;
    font-weight: 600;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 70px;
    cursor: pointer;
    z-index: 1;
}
.y{
     /* margin-left: 30px; */
   /* margin-top: -29px; */
    z-index: 1;
}
#bg2{
    width: 98px;
    background-color: transparent;
    height: 98px;
    margin-left: 100px;
    margin-top: 30px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-color:  #0B42FF;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    z-index: 1;
    /* border: 25px #FEDD00; */
}

.same
{
    display: flex;
    flex-direction: row;

}
@media only screen and (min-device-width:1441px) 
{
    .back{
        grid-template-rows: 820px ;
        
    }
    .all{
        margin-top: -730px;
    }
    .container
    {
        width: 480px;
    height: 520px;
        /* margin-left: 170px; */
        margin-top: 78px;
    }
    .xy{
        margin-left: 280px;
        margin-top:180px;
        flex-grow: 8;
        
    }
    .player{
        width: 45px; 
        padding: 12px;
    }
    .main{
        font-size: 120px;
        width:700px;
    }
    .content{
        margin-top: -540px;
    }
    .message{
        font-size: 21px;
        width:550px;
        margin-top: -40px;
    }
    .background .dot{
        width:45%;
        padding: 15em 7.2em;
    }
    
    .bg {
        height: 250px;
        width: 346px;
    }
    .heading{

        font-size: 34px;
       margin-left: 32px;
       margin-top: -180px;
    }
    .passage{
        grid-row-gap: 47px;
        width: 450px;
        margin-top: -90px;
        font-size: 18px;
        margin-left: 22px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        margin-top: -10px;
        font-size: 22px;
    }
    .navigators{
        margin-left: -140px;
        display: flex;
        flex-direction: row;
        margin-top: 15px;
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 140px;
       height:70px;
       text-align: center;
    align-items: center;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 150px;
        height: 70px;
        text-align: center;
    align-items: center;
    }
    #bg2{
        width: 100px;
        height: 100px;
        margin-left: 230px;
        margin-top: -20px;
        border-right-width: 22px;
        border-bottom-width:22px;
    }
    .underline
    {
        font-size: 26px;
    }
    .button
    {
        font-size: 26px; 
    }
    .brand{
        font-size: 36px;
    }
    .brandlogo{
        height:45px;
        width:45px;
    }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1440px) 
{
    .back{
        grid-template-rows: 700px ;
        
    }
    .all{
        margin-top: -625px;
    }
    .container
    {
        width: 400px;
    height: 490px;
        /* margin-left: 170px; */
        margin-top: 20px;
    }
    .xy{
        margin-left: 30px;
        margin-top:160px;
        flex-grow: 8;
        
    }
    .player{
        width: 38px; 
        padding: 6px;
    }
    .main{
        font-size: 102px;
        width:500px;
    }
    .content{
        margin-top: -400px;
    }
    .message{
        font-size: 20px;
        width:450px;
        margin-top: -40px;
    }
    .background .dot{
        width:29%;
        padding: 11em 8em;
        background-size: 20px 20px;
    }
    .bg {
        height: 190px;
        width: 256px;
    }
    .heading{

        font-size: 32px;
       margin-left: 30px;
       margin-top: -160px;
    }
    .passage{
        grid-row-gap: 52px;
        width: 340px;
        margin-top: -80px;
        font-size: 16px;
        margin-left: 22px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        /* margin-top: 10px; */
        font-size: 22px;
    }
    .navigators{
        margin-left: -100px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 140px;
       height: 60px;
       text-align: center;
    align-items: center;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 160px;
        height: 60px;
        text-align: center;
    align-items: center;
    }
    #bg2{
        width: 76px;
        height: 76px;
        margin-left: 130px;
        margin-top: 5px;
        border-right-width: 24px;
        border-bottom-width:24px;
    }
    .underline
    {
        font-size: 22px;
    }
    .button
    {
        font-size: 22px; 
    }
    .brand{
        font-size: 30px; 
    }
}
@media only screen and (min-device-width:767px) and (max-device-width:1024px) 
{
    .back{
        grid-template-rows: 560px ;
        
    }
    .all{
        margin-top: -485px;
    }
    .container
    {
        width: 326px;
    height: 350px;
        /* margin-left: 170px; */
        margin-top: 9px;
    }
    .xy{
        margin-left: -120px;
        margin-top:90px;
        flex-grow: 8;
        
    }
    .player{
        width: 22px; 
        padding: 4px;
    }
    .main{
        font-size: 62px;
        width:300px;
    }
    .content{
        margin-top: -250px;
    }
    .message{
        font-size: 13px;
        width:295px;
        margin-top: -40px;
    }
    .background .dot{
        width:2%;
        padding: 7em 7.2em;
    }
    
    .bg {
        height: 160px;
        width: 216px;
    }
    .heading{

        font-size: 28px;
       margin-left: 25px;
       margin-top: -100px;
    }
    .passage{
        grid-row-gap: 5px;
        width: 259px;
        margin-top: -80px;
        font-size: 12px;
        margin-left: 22px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        /* margin-top: -10px; */
        font-size: 12px;
    }
    .navigators{
        margin-left: -100px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 100px;
       height: 50px;
       text-align: center;
    align-items: center;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 110px;
        height: 50px;
        text-align: center;
    align-items: center;
    }
    #bg2{
        width: 70px;
        height: 70px;
        margin-left: 150px;
        margin-top: 10px;
        border-right-width: 18px;
        border-bottom-width:18px;
    }
    .underline
    {
        font-size: 18px;
    }
    .button
    {
        font-size: 18px; 
    }
}
@media only screen and (min-device-width:550px) and (max-device-width:768px)  
{
    .back{
        grid-template-rows: 560px ;
    }
    .all{
        margin-top: -485px;
    }
    .container
    {
        width: 246px;
    height: 288px;
        /* margin-left: 170px; */
        margin-top: 68px;
    }
    .xy{
        margin-left: -180px;
        margin-top:80px;
        flex-grow: 8;
        
    }
    .player{
        width: 18px; 
        padding: 3px;
    }
    .main{
        font-size: 53px;
        width:300px;
    }
    .content{
        margin-top: -250px;
    }
    .message{
        font-size: 10px;
        width:300px;
    }
    .background .dot{
        width:2%;
        padding: 7em 7.2em;
    }
    .bg {
        height: 140px;
        width: 190px;
    }
    .heading{

        font-size: 20px;
       margin-left: 22px;
       margin-top: -100px;
    }
    .passage{
        grid-row-gap: 2px;
        width: 200px;
        margin-top: -80px;
        font-size: 8px;
        margin-left: 22px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        margin-top: -40px;
        font-size: 12px;
    }
    .navigators{
        margin-left: -80px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 80px;
       height: 40px;
       text-align: center;
    align-items: center;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 90px;
        height: 40px;
        text-align: center;
    align-items: center;
    }
    #bg2{
        width: 50px;
        height: 50px;
        margin-left: 110px;
        margin-top: 10px;

    }
    .underline
    {
        font-size: 16px;
    }
    .button{
        font-size: 16px;
    }
}


