/* navbar */
.brandlogo{
    background-color: #0B42FF;
    border-radius: 50%;
    z-index: 99;
    align-self: center;
}
.brand{
    align-self: center;
    padding: 0 0 0 12px;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 99;
}
.button{
    color: #ffffff;
    padding: 15  15 15 15;
    align-self: center;
    background-color: rgb(0, 0, 0);
    border:none;
    font-weight: bolder;
    
}
.topnav{
    display: flex;
    flex-direction: row;
    color: black;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    z-index: 99;
    flex-wrap: wrap;
}
.topnavlast{
     display: flex;
     flex-direction: row;
     z-index:99;
}
.underline:hover {
    border-bottom: 7px solid #FEDD00;
    transition: ease-in-out 0.1s;
}
.underline{
    cursor: pointer;
    padding-right: 20px;
    align-self: center;
   
}
.all
{
    margin-top: -650px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* backgroundlines */
.back{
    display: grid;
    grid:100px / auto auto auto auto auto auto auto auto auto auto;
    grid-template-rows: 720px ;
    background-color: #D7D7D7;
    grid-column-gap: 3px;
    margin-top: -75px; 
    opacity: 20%;    
    
}

.back > div {
 background-color: #fff;
}

/* backgrounddots */
.background{
    display: flex;
    flex-direction: column;
}


.background .dot {
    padding: 11em 7.2em;
    background-image: -webkit-repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    /* background-image: -moz-repeating-radial-gradient(center center,#dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
    background-image: repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%); */
    -webkit-background-size: 5px 5px;
    -moz-background-size: 5px 5px;
    background-size: 20px 20px;
    width:27%;
    align-self: flex-start;
    background-color: transparent;
    z-index: -1;
    opacity: 50%;
    margin-top: 15px;
  }
.wrapp{
    display: flex;
    flex-direction: row;
flex-wrap: wrap;
}
 .x{
    /* padding-top: 100px; */
    align-self: center;
    padding-left: 50px;
    z-index: 1;

 }
  .player{
    width: 35px;   
    /* margin-left: 680px; */
    /* margin-top: -500px; */
    border-radius: 50%;
    padding: 5px;
    border: #FEDD00 2px solid;
    z-index:1;
}

/* left*/
.main{
    font-size: 93px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    z-index:1;
   
}

.content{
     color: rgb(0, 0, 0);
     width: 450px;
     display: grid;
     grid-template-rows: auto;
     grid-row-gap: 58px;
     /* margin-left: 15px; */
     /* margin-top: -425px; */
     margin-top: -420px;
     z-index: 1;
}

.message{
    font-size: 18px;
    font-weight: bold;
    margin-top:-20px;
    z-index: 1;
}

.sociallogin{
    display: grid;
    grid-template-columns: repeat(2,25px);
    grid-column-gap: 40px;
    margin-top: 40px;
    margin-left: 50px;
    z-index: 1;
}

.logins{
    width: 35px;
    border-radius: 50%;
    /* padding: 10px; */
    background-color: white;
    z-index: 1;
}

/* right */

.container{
    background-color: #EEEEEE;
    width: 346px;
    height: 488px;
    display: flex;
    flex-direction: column;
    /* margin-left: 250px; */
    margin-top: 28px;
    display: grid;
    /* flex-direction: row; */
    z-index: 1;
}
.bg {
    height: 220px;
    width: 300px;
    /* clip-path: polygon(0 0, 30% 0, 30% 30%, 0% 30%);
    background: #FEDD00; */
    z-index: 1;

}

.heading{
    color: #000000;
    font-size: 30px;
   margin-left: 32px;
   margin-top: -180px; 
   background-color: transparent;
   font-weight: bolder;
   z-index: 1;
}

.passage{
    display: grid;
    grid-template-rows: 70px 100px;
    grid-row-gap: 30px;
    color: rgb(0, 0, 0);
    width: 310px;
    padding:10 0 0 0;
    margin-top: -110px;
    background-color: transparent;
    font-size: 12px;
    margin-left: 32px;
    font-weight: 600;
    z-index: 1;
}


.blockquotes{
    background-color:transparent;
    font-weight: 800;
    color: #0B42FF;
    margin-top: 2px;
    font-size: 17px;
}

/* bottom right corner */

.navigators{
    margin-left: -150px;
    display: flex;
    flex-direction: row;
    margin-top: 58px;
    
}


.work{
   padding: 20px; 
   color: white;
   background-color:  #0B42FF;
   border: none;
   margin: 0;
   font-weight: 600;
   width: 150px;
   height: 70px;
   text-align: center;
   align-items: center;
   cursor: pointer;
   z-index: 1;
   font-size: 17px;
}
.tests{
    padding: 10px; 
    background-color: #232935;
    color: white;
    border: none;
    margin: 0;
    font-weight: 600;
    text-align: center;
    align-items: center;
    width: 150px;
    height: 70px;
    cursor: pointer;
    z-index: 1;
    font-size: 17px;
}
.y{
     /* margin-left: 30px; */
   /* margin-top: -29px; */
    z-index: 1;
}
#bg2{
    width: 98px;
    background-color: transparent;
    height: 98px;
    margin-left: 100px;
    margin-top: 30px;
    border-right-width: 15px;
    border-bottom-width: 15px;
    border-color:  #0B42FF;
    border-top-width: 0;
    border-left-width: 0;
    border-style: solid;
    z-index: 1;
    /* border: 25px #FEDD00; */
}

.same
{
    display: flex;
    flex-direction: row;

}
.brandlogo
    {
        height: 35px;
        width: 35px;
    }
@media only screen and  (min-device-height:770px) and (max-device-height:1099px)
{
    .back{
        grid-template-rows: 1135px ;   
    }
    .all{
        margin-top: -1050px;
    }  
    /* .main{
        font-size: 180px;
        width:1500px;
    }  */
    .container
    {
        margin-top:120px;
        height: 775px;
    }
    .x
    {
        padding-top: 500px;
    }
    .content
    {
        margin-top: -750px;
    }
    /* .message{
        margin-top: -26px;
        font-size: 28px;
        width:850px;
    } */
    .up
    {
        margin-top: -45px;
    }
    .background .dot{
        margin-top: 50px;
        /* width:110%; */
        padding: 20em 7.2em;
        margin-left:-10px;
    }
    .heading{
       margin-top: -250px;
       
    }
    .passage{
        grid-row-gap: 77px;
        margin-top: -120px;
        font-size: 24px; 
    }
    .blockquotes{
        margin-top: -10px;
        font-size: 30px;
    }
    #bg2{
        margin-top: -22px;
        height: 180px;
    }
    .xy{
        margin-left: 27px;
        margin-top:-190px;
    }
    .navigators{
        margin-top: 33px;
    }
   
}
@media only screen and  (min-device-height:1100px) and (max-device-height:1440px)  
{
    .xy{
        margin-left: 30px;
        margin-top:160px;
    }
    .back{
        grid-template-rows: 1500px ;
        
    }
    .all{
        margin-top: -1420px;
    } 
    /* .main{
        font-size: 190px;
        width:1500px;
    }   */
    /* .message{
        margin-top: -26px;
        font-size: 28px;
        width:850px;
    } */
    .container
    {
        margin-top:230px;
        height: 1020px;
    }
    .sociallogin
    {
        margin-top: 110px;
    }
   .x{
        padding-top: 500px;
    }
    .content{
        margin-top: -880px;
    }
    /* .message{
        margin-top: -10px;
        font-size: 36px;
        width:1000px;
    } */
    .background .dot{
        margin-top: 120px;
        /* width:135%; */
        padding: 23em 7.2em;
        margin-left:-10px;
    }
    .heading{
       margin-top: -250px;
       
    }
    .passage{
        grid-row-gap: 117px;
        margin-top: -120px;
        font-size: 31px;
    }
    .blockquotes{
        margin-top: 120px;
        font-size: 35px;
    }
    #bg2{
        margin-top: -15px;
        height: 210px;
    }
    .navigators{
        /* margin-top: 75px; */
    }
   
}
@media only screen and  (min-device-width:1921px) and (max-device-width:2560px)  
{   .brandlogo
    {
        height: 55px;
        width: 55px;
    }
    .main{
        font-size: 183px;
        width:1500px;
    }
    .message{
        margin-top: -26px;
        font-size: 28px;
        width:850px;
    }
    .container
    {
        width: 780px;
    }
    .sociallogin
    {
        display: grid;
        grid-column-gap: 80px;
    }
    .logins{
        width: 85px;
    }
    .xy
    {
        flex-grow: 8; 
    }
    .background .dot{
        /* margin-top: 50px; */
        width:110%;
    }
    .player{
        width: 85px; 
        padding: 14px;
        border: #FEDD00 5px solid;
    }
    .x
    {
    align-self: center;
    padding-left: 650px;
    z-index: 1; 
    }
    
    .content{
        margin-left: 20px;
    }
    
    .bg {
        height: 380px;
        width: 524px;
    }
    .heading{

        font-size: 55px;
       margin-left: 76px;
       /* margin-top: -250px; */
    }
    .passage{
       
        width: 700px;
        /* margin-top: -120px; */
       
        margin-left: 76px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
    }
    .navigators{
        margin-left: -250px;
        display: flex;
        flex-direction: row;
        /* margin-top: 75px; */
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 250px;
       height:120px;
       text-align: center;
       align-items: center;
       font-size: 27px;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 260px;
        height: 120px;
        text-align: center;
        align-items: center;
       font-size: 27px;
    }
    #bg2{
        width: 210px;
       
        margin-left: 310px;
        /* margin-top: -15px; */
        border-right-width: 26px;
        border-bottom-width:26px;
    }
    .underline
    {
        font-size: 35px;
        padding-right: 50px;
    }
    .button
    {
        font-size: 35px; 
    }
    .brand{
        font-size: 50px;
    }
    .brandlogo
    {
        height:45px;
        width:45px;
    }
}
@media only screen and  (min-device-width:1441px) and (max-device-width:1920px)  
{   
    .container
    {
        width: 620px;
        
    }
    .main
    {
        font-size: 153px;
        width:1500px;
    }
    .sociallogin
    {
        display: grid;
        grid-column-gap: 70px;
    }
    .logins
    {
        width: 65px;
    }
    .message
    {
        margin-top: -10px;
        font-size: 28px;
        width:700px;
    }
    .xy
    {
        flex-grow: 8; 
    }
    .background .dot
    {
        /* margin-top: 50px; */
        width:85%;
    }
    .player{
        width: 55px; 
        padding: 14px;
        border: #FEDD00 5px solid;
    }
    .x
    {
     align-self: center;
     padding-left: 450px;
     z-index: 1; 
    }
    .content{
        margin-left: 20px;
    }
    
    .bg {
        height: 380px;
        width: 524px;
    }
    .heading
    {
        font-size: 55px;
       margin-left: 59px;
       /* margin-top: -250px; */
    }
    .passage
    {
        width: 540px;
        margin-left: 59px;
        font-size: 23px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
    }
    .navigators{
        margin-left: -250px;
        display: flex;
        flex-direction: row;
        /* margin-top: 75px; */
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 250px;
       height:120px;
       text-align: center;
       align-items: center;
       font-size: 27px;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 260px;
        height: 120px;
        text-align: center;
        align-items: center;
       font-size: 27px;
    }
    #bg2{
        width: 210px;
        margin-left: 150px;
        /* margin-top: -15px; */
        border-right-width: 26px;
        border-bottom-width:26px;
    }
    .underline
    {
        font-size: 30px;
        padding-right: 50px;
        
    }
    .button
    {
        font-size: 30px; 
    }
    .brand{
        font-size: 40px;
    }
    .brandlogo{
        height:45px;
        width:45px;
    }
}

@media only screen and (min-device-width:1025px) and (max-device-width:1440px) 
{
    .back{
        grid-template-rows: 700px ;
        
    }
    .all{
        margin-top: -625px;
    }
    .container
    {
        width: 380px;
        height: 490px;
        /* margin-left: 10px; */
        margin-top: 24px;
    }
    .xy{
        margin-left: 30px;
        margin-top:160px;
        flex-grow: 8;
        
    }
    .player{
        width: 38px; 
        padding: 6px;
    }
    .main{
        font-size: 90px;
        width:500px;
        margin-top:-10px;
    }
    .content{
      
        margin-top: -410px;
        margin-left: 20px;
    }
    .message{
        font-size: 15px;
        width:400px;
        margin-top: -40px;
    }
    .background .dot{
        width:29%;
        padding: 11em 8em;
        background-size: 20px 20px;
        padding: 11em 7.2em;
        background-image: -webkit-repeating-radial-gradient(center center, #dadbdd, #dadbdd 4px, transparent 0px, transparent 100%);
        margin-left: -10px;
    }
    .bg {
        height: 190px;
        width: 256px;
    }
    .heading{

        font-size: 26px;
       margin-left: 40px;
       margin-top: -130px;
    }
    .passage{
        grid-row-gap: 30px;
        width: 340px;
        margin-top: -80px;
        font-size: 15px;
        margin-left: 40px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        /* margin-top: 10px; */
        font-size: 22px;
    }
    .navigators{
        margin-left: -140px;
        display: flex;
        flex-direction: row;
        margin-top: 44px;
      
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 140px;
       height: 60px;
       text-align: center;
    align-items: center;
    
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 160px;
        height: 60px;
        text-align: center;
    align-items: center;
    }
    #bg2{
        width: 96px;
        height: 86px;
        margin-left: 132px;
        margin-top: 20px;
        border-right-width: 14px;
        border-bottom-width:14px;
    }
    .underline
    {
        font-size: 20px;
    }
    .button
    {
        font-size: 20px; 
    }
    .brand{
        font-size: 28px; 
    }
}
@media only screen and (min-device-width:767px) and (max-device-width:1024px) 
{
    .back{
        grid-template-rows: 560px ;
    }
    .all{
        margin-top: -495px;
    }
    .container
    {
        width: 316px;
        height: 380px;
        /* margin-left: 170px; */
        margin-top: 20px;
    }
    .xy{
        margin-left: -120px;
        margin-top:90px;
        flex-grow: 8;
        
    }
    .player{
        width: 22px; 
        padding: 4px;
    }
    .main{
        font-size: 56px;
        width:300px;
    }
    .content{
        margin-top: -300px;
        margin-left: 20px;
    }
    .message{
        font-size: 13px;
        width:295px;
        margin-top: -40px;

    }
    .background .dot{
        width:2%;
        padding: 8em 7.2em;
        margin-left: -10px;
    }
    
    .bg {
        height: 160px;
        width: 216px;
    }
    .heading{

        font-size: 24px;
       margin-left: 25px;
       margin-top: -100px;
    }
    .passage{
        grid-row-gap: 15px;
        width: 280px;
        margin-top: -60px;
        font-size: 12px;
        margin-left: 25px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        /* margin-top: -10px; */
        font-size: 14px;
    }
    .navigators{
        margin-left: -122px;
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        font-size: 24px;
    }
    
    .work{
       padding: 10px; 
       color: white;
       background-color:  #0B42FF;
       border: none;
       margin: 0;
       font-weight: 600;
       width: 120px;
       height: 60px;
       text-align: center;
    align-items: center;
    font-size: 14px;
    }
    .tests{
        padding: 10px;
        border: none;
        margin: 0;
        font-weight: 400;
        width: 130px;
        height: 60px;
        text-align: center;
    align-items: center;
    font-size: 14px;

    }
    #bg2{
        width: 100px;
        height: 100px;
        margin-left: 95px;
        margin-top:-23px;
        border-right-width: 18px;
        border-bottom-width:18px;
    }
    .underline
    {
        font-size: 18px;
    }
    .button
    {
        font-size: 18px; 
    }
    .brand{
        font-size: 22px;
    }
}
@media only screen and (min-device-width:550px) and (max-device-width:768px)  
{
    .back{
        grid-template-rows: 560px ;
    }
    .all{
        margin-top: -485px;
    }
    .container
    {
        width: 246px;
    height: 288px;
        margin-top: 68px;
    }
    .xy{
        margin-left: -180px;
        margin-top:80px;
        flex-grow: 8;
        
    }
    .player{
        width: 18px; 
        padding: 3px;
    }
    .main{
        font-size: 53px;
        width:300px;
    }
    .content{
        margin-top: -250px;
        margin-left: 20px;
    }
    .message{
        font-size: 10px;
        width:300px;
    }
    .background .dot{
        width:5%;
        padding: 7em 7.2em;
        margin-left: -10px;
    }
    .bg {
        height: 140px;
        width: 190px;
    }
    .heading{

        font-size: 20px;
       margin-left: 22px;
       margin-top: -100px;
    }
    .passage{
        grid-row-gap: 2px;
        width: 200px;
        margin-top: -80px;
        font-size: 8px;
        margin-left: 22px;
    }
    .blockquotes{
        font-weight: 700;
        color: #0B42FF;
        margin-top: -20px;
        font-size: 12px;
    }
    .navigators{
        margin-left: -80px;
        display: flex;
        flex-direction: row;
        margin-top: 20px;
    }
    
    .work{
       width: 80px;
       height: 40px;
       font-size: 10px;
    }
    .tests{
        width: 90px;
        height: 40px;
        font-size: 10px;
    }
    #bg2{
        width: 80px;
        height: 70px;
        margin-left: 83px;
        margin-top: -10px;
        border-right-width: 13px;
        border-bottom-width:13px;
    }
    .underline
    {
        font-size: 16px;
    }
    .button{
        font-size: 16px;
    }
}


